input{
    
    width:500px;
    height:10px;
    padding:10px;
    margin:20 px;
    font-size:20px;
    border-radius: 5px;
    background-color: aqua;
    border-color: black;
    color:black;
}

button{
    padding:10px 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: teal;
    border-color: black;
    color:yellow;

}
h1{
    
    color:brown;
}
.Todoo{
background-color: coral;
}
.task1{
    color:blue;
}